apiVersion: v1
kind: Secret
metadata:
  name: immich-db-secret
  namespace: immich
type: Opaque
stringData:
  postgres-password: "REPLACE_WITH_STRONG_RANDOM_PASSWORD"
  password: "REPLACE_WITH_STRONG_RANDOM_PASSWORD"
  replication-password: "REPLACE_WITH_STRONG_RANDOM_PASSWORD"
