apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: immich-charts
  namespace: flux-system
spec:
  interval: 24h0m0s
  type: oci
  url: oci://ghcr.io/immich-app/immich-charts
