apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: immich
spec:
  chart:
    spec:
      chart: immich
      sourceRef:
        kind: HelmRepository
        name: immich-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  interval: 30m0s
  releaseName: immich
  timeout: 10m0s
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: immich-values
      valuesKey: values.yaml
