controllers:
  main:
    containers:
      main:
        image:
          tag: v2.5.6
        env:
          TZ: Australia/Sydney
          DB_HOSTNAME: immich-postgres
          DB_PORT: "5432"
          DB_USERNAME: postgres
          DB_DATABASE_NAME: immich
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-db-secret
                key: postgres-password
          REDIS_HOSTNAME: immich-valkey
          REDIS_PORT: "6379"

immich:
  persistence:
    library:
      existingClaim: immich-library-pvc

valkey:
  enabled: true
  persistence:
    data:
      enabled: true
      type: persistentVolumeClaim
      existingClaim: immich-redis-pvc

server:
  ingress:
    main:
      enabled: true
      className: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web
      hosts:
        - host: photos.aza.network
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
